$font-title: "Eurostile", sans-serif
$font-text: "Source Sans Pro", sans-serif

$grey: #F5F5F5
$dark-grey: #BBBBBB
$blue: #4A90E2

$panel-width: 700px

$transition: .4s steps(20)

@font-face
  font-family: Eurostile
  src: url('/font/eurostile.ttf')

// resets

body
  margin: 0

a
  text-decoration: none

// album-list

.album-list
  width: 100%

  a
    overflow: auto

.album-list-transition-leave
  opacity: 1
  max-height: 260px

  &.album-list-transition-leave-active
    opacity: 0.01
    transition: $transition
    max-height: 0

// album-list animation

.album-list-transition-enter
  opacity: 0.01
  max-height: 0

  &.album-list-transition-enter-active
    opacity: 1
    max-height: 260px
    transition: $transition

// album

.album
  padding: 30px 0
  height: 200px

  &:hover, &.active
    background-color: $grey

    > div .title-line .title
      color: $blue

  &.active
    margin-top: 50px
    transition: $transition

  > div
    position: relative
    height: 200px
    width: $panel-width
    margin: 0 auto

    img
      width: 200px
      height: 200px
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50)

    .title-line
      position: absolute
      top: 0
      right: 0
      width: $panel-width - 200px
      padding-top: 15px

      .title
        font-family: $font-title
        font-size: 30px
        color: $dark-grey
        line-height: 36px
        padding-left: 45px

      .years
        float: right
        color: $dark-grey
        font-size: 16px
        line-height: 36px
        font-family: $font-text

      .description
        color: $dark-grey
        font-size: 16px
        font-family: $font-text
        padding-left: 45px

// song-list

.song-list
  margin-top: 30px
  width: 100%

// song

.song
  > div
    position: relative
    width: $panel-width
    margin: 0 auto

    > div
      width: $panel-width - 245px
      margin-left: 220px
      padding: 15px 20px 15px 25px

      &:hover
        background-color: $grey
        border-left: 5px solid $dark-grey
        margin-left: 215px

      .language
        float: right
        line-height: 25px
        font-family: $font-text
        text-transform: uppercase
        color: $dark-grey

      .title
        font-family: $font-text
        font-size: 25px
        line-height: 25px
        color: $dark-grey
        margin-top: 0

      .description
        font-family: $font-text
        font-size: 16px
        color: $dark-grey
        margin-bottom: 0
